<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.neuralj.openlaputa</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/supervisord</string>
		<string>-c</string>
		<string>/Users/travis/Developer/repos/neuralj/openlaputa/supervisor/supervisord.conf</string>
		<string>--nodaemon</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/travis/Developer/repos/neuralj/openlaputa</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/travis/Developer/repos/neuralj/openlaputa/logs/supervisord-stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/travis/Developer/repos/neuralj/openlaputa/logs/supervisord-stderr.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>REPO_ROOT</key>
		<string>/Users/travis/Developer/repos/neuralj/openlaputa</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
</dict>
</plist>
